* {
  box-sizing: content-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.imgAvata {
  width: 50%;
  height: 500px;
  object-fit: cover;
  object-position: center;
  border-radius: 5%;
  margin: 100px;
  background-color: aqua;
}

.contents {
  width: 50%;
  text-align: justify;
  padding: 100px 80px;

}

.tag_name {
  text-align: center;
  padding: 20px 40px;
  border-radius: 50px;
  font-weight: bold;
  border: 2px solid gray;
  margin-bottom: 80px;
}

.show_result {
  /* display: flex; */
}

.show_result img {
  margin: 20px;
  width: 500px;
  height: 400px;
  object-fit: cover;
  object-position: center;
  border-radius: 5%;
  align-items: center;
}